{% extends 'base.html' %}
{% block body_block %}

<div class="jumbotron">
  <div class="container">

      <h1>Welcome to Star Social, </h1>
      <h2>An Outer Space Fan Community Site!</h2>
      <p></p>
      <p></p>
    <ul>
      <p></p>
      <li><h4>Users can create groups on various topics (e.g. SpaceX, Pluto, NASA, etc.. )</h4>
      </li>
      <li><h4>Users can then create posts in the groups</h4>
      </li>
      <li><h4>Users can also join and leave groups</h4>
      </li>

    </ul>
  </div>

</div>
<style >
  .jumbotron{
    background-color: black;
  }
</style>

{% endblock %}
